.tmdivi-wrapper{
    --tw-cbx-bgc: #ffffff;
}
button[value="tmdivi/timeline"]{
    position: relative;
}
button[value="tmdivi/timeline"] .et-vb-icon svg{
    display: none;
}
button[value="tmdivi/timeline"] .et-vb-icon{
    background-image: url('../../../timeline-module-for-divi/assets/image/divi-timeline-logo.png');
    background-size:contain;
    background-repeat:no-repeat;
}
.tmdivi-icon .et-tmdivi-icon-fa{
    font-family:fontawesome;
    font-style: normal;
}
.tmdivi-wrapper .tmdivi-story .tmdivi-arrow{
    background-color: var(--tw-cbx-bgc);
}